<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boanergepro.pagomovil">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name="com.boanergepro.pagomovil.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_pago_movil"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.boanergepro.pagomovil.activities.FormActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.boanergepro.pagomovil.activities.ContactActivity" android:parentActivityName="com.boanergepro.pagomovil.activities.FormActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.boanergepro.pagomovil.activities.FormActivity"/>
        </activity>
    </application>

</manifest>